In [2]:
import numpy as np
import pandas as pd

In [43]:
tourists_by_country = pd.read_excel(r'C:\Users\Ivan\Desktop\tourism_analysis\data\2022\ukupno_2022.xlsx', sheet_name='Sheet3', header=1)

tourists_by_country - Tabela 3 Dolasci i noćenja stranih turista po zemlji pripadnosti, 2022. godina

In [44]:
tourists_by_country.rename(
    columns={'Zemlja pripadnosti gostiju': 'zemlja_porijekla', 
             'Dolasci': 'dolasci',
             'Struktura, u %': 'dolasci_u_%',
             'Noćenja':'nocenja',
             'Struktura , u %': 'nocenja_u_%'}, inplace= True)

Removed summed rows - like Europe, Total ect.

In [70]:
filt = (~tourists_by_country['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
tourists_by_country = tourists_by_country[filt]

In [75]:
tourists_by_country = tourists_by_country.drop(columns=['dolasci_u_%', 'nocenja_u_%'])

              zemlja_porijekla  dolasci  nocenja
2                     Albanija    62852   187256
3                     Austrija    27203   110731
4                      Belgija    22345    80902
5                  Bjelorusija     9740    86504
6          Bosna i Hercegovina   211314  1177370
..                         ...      ...      ...
59  Ujedinjeni Arapski Emirati     2302     6183
60       Ostale azijske zemlje    27486   124100
61                  Australija     6902    32521
62                 Novi Zeland     1528     8519
63      Ostale zemlje Okeanije     3819    11510

[61 rows x 3 columns]

Druga tabla dolasci i nocenja po opstinama

In [87]:
tourists_by_municipality = pd.read_excel(
    r'C:\Users\Ivan\Desktop\tourism_analysis\data\2022\ukupno_2022.xlsx', 
    sheet_name='Sheet2',
    header=3)

renameovanje kolona kao i brisanje vec sumiranih podataka

In [93]:
tourists_by_municipality.rename(columns={
        'Unnamed: 0': 'opstina',
        '(1)': 'dolasci_stranih_turista',
        '(2)': 'dolasci_domacih_turista',
        '(1).1': 'nocenje_stranih_turista',
        '(2).1': 'nocenje_domacih_turista'},
        inplace=True
)

In [99]:
tourists_by_municipality.drop(labels=0, inplace=True)

In [104]:
tourists_by_municipality.drop(
    columns=['(3)=(1)+(2)', '(3) u %', '(3)=(1)+(2).1', '(3) u %.1'],
    inplace=True)

In [164]:
tourists_by_municipality

,opstina,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
1,Andrijevica,582,185,2878,381
2,Bar,207772,11351,1895458,39971
3,Berane,3392,2572,4841,3695
4,Bijelo Polje,4178,1588,17159,4132
5,Budva,625938,46617,3011378,141510
6,Cetinje,5354,4242,28563,14323
7,Danilovgrad,3446,381,28536,712
8,Gusinje,1050,109,7117,279
9,Herceg Novi,331460,19387,2591362,181695
10,Kolašin,26180,9476,57701,24395
11,Kotor,192753,4200,1074829,12066
12,Mojkovac,4413,426,7517,922
13,Nikšić,9356,2723,18280,7994
14,Plav,399,3,5500,90
15,Pljevlja,3257,2510,7768,9953
16,Plužine,1288,71,2805,87
17,Podgorica,150786,17323,324228,36201
18,Rožaje,1540,201,12789,752
19,Šavnik,2015,164,6247,304
20,Tivat,133836,5212,1201315,15903
21,Tuzi,4060,7,4182,16
22,Ulcinj,287882,10713,1453483,43030
23,Žabljak,35466,8111,103654,22786

Treca tabela - Dolasci i nocenja turista po vrstama smjestaja

In [119]:
tourists_by_accomodation = pd.read_excel(
    r'C:\Users\Ivan\Desktop\tourism_analysis\data\2022\ukupno_2022.xlsx', 
    sheet_name='Sheet1',
    header=6)
tourists_by_accomodation.head()

,Objekti kolektivnog smještaja,1025642,140333,1165975,3787237,528457,4315694
0,Hotel,719046.0,93091.0,812137.0,2731396.0,264612.0,2996008.0
1,Garni hotel,45048.0,3661.0,48709.0,129415.0,8318.0,137733.0
2,Mali hotel,130198.0,16887.0,147085.0,356239.0,46803.0,403042.0
3,Boutique hotel,47742.0,2415.0,50157.0,128139.0,4465.0,132604.0
4,Apart hotel,7733.0,581.0,8314.0,39405.0,2348.0,41753.0

In [126]:
tourists_by_accomodation.rename(columns={
        'Objekti kolektivnog smještaja': 'vrsta_smjestaja',
        1025642: 'dolasci_stranih_turista',
        140333: 'dolasci_domacih_turista',
        3787237: 'nocenje_stranih_turista',
        528457: 'nocenje_domacih_turista'},
        inplace=True
        
)

In [141]:
tourists_by_accomodation.head()

,vrsta_smjestaja,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Hotel,719046.0,93091.0,2731396.0,264612.0
1,Garni hotel,45048.0,3661.0,129415.0,8318.0
2,Mali hotel,130198.0,16887.0,356239.0,46803.0
3,Boutique hotel,47742.0,2415.0,128139.0,4465.0
4,Apart hotel,7733.0,581.0,39405.0,2348.0

In [140]:
tourists_by_accomodation.drop(
    columns=[1165975, 4315694],
    inplace=True
)

In [145]:
tourists_by_accomodation = tourists_by_accomodation[~tourists_by_accomodation['vrsta_smjestaja'].isnull()]
tourists_by_accomodation

,vrsta_smjestaja,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Hotel,719046.0,93091.0,2731396.0,264612.0
1,Garni hotel,45048.0,3661.0,129415.0,8318.0
2,Mali hotel,130198.0,16887.0,356239.0,46803.0
3,Boutique hotel,47742.0,2415.0,128139.0,4465.0
4,Apart hotel,7733.0,581.0,39405.0,2348.0
5,Turističko naselje,41159.0,4607.0,205053.0,17244.0
6,Motel,433.0,172.0,462.0,610.0
7,Gostionica i pansion,1775.0,43.0,9996.0,204.0
8,Kamp,10155.0,143.0,38085.0,569.0
9,Hostel,7060.0,1069.0,27042.0,5844.0
10,Etno selo,1794.0,117.0,4346.0,174.0
11,Odmaralište i lječilište,13499.0,17547.0,117659.0,177266.0
13,Individualni turistički smještaj,1010761.0,7239.0,8080353.0,32740.0

In [148]:
tourists_by_accomodation[[
    'dolasci_stranih_turista', 'dolasci_domacih_turista','nocenje_stranih_turista','nocenje_domacih_turista']] = 
tourists_by_accomodation[[
    'dolasci_stranih_turista', 
    'dolasci_domacih_turista',
    'nocenje_stranih_turista', 
    'nocenje_domacih_turista']].astype('int64')

,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,719046,93091,2731396,264612
1,45048,3661,129415,8318
2,130198,16887,356239,46803
3,47742,2415,128139,4465
4,7733,581,39405,2348
5,41159,4607,205053,17244
6,433,172,462,610
7,1775,43,9996,204
8,10155,143,38085,569
9,7060,1069,27042,5844
10,1794,117,4346,174
11,13499,17547,117659,177266
13,1010761,7239,8080353,32740

In [162]:
tourists_by_accomodation.loc[:,tourists_by_accomodation.dtypes == 'float64'] = tourists_by_accomodation.loc[:,tourists_by_accomodation.dtypes == 'float64'].astype('int64')

In [163]:
tourists_by_accomodation

,vrsta_smjestaja,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Hotel,719046,93091,2731396,264612
1,Garni hotel,45048,3661,129415,8318
2,Mali hotel,130198,16887,356239,46803
3,Boutique hotel,47742,2415,128139,4465
4,Apart hotel,7733,581,39405,2348
5,Turističko naselje,41159,4607,205053,17244
6,Motel,433,172,462,610
7,Gostionica i pansion,1775,43,9996,204
8,Kamp,10155,143,38085,569
9,Hostel,7060,1069,27042,5844
10,Etno selo,1794,117,4346,174
11,Odmaralište i lječilište,13499,17547,117659,177266
13,Individualni turistički smještaj,1010761,7239,8080353,32740